font {
    font-family: "Segoe UI", serif;
}

/*-----------------------*/
.nav-link.hover,
.nav-link.active,
.nav-link.visited,
.nav-link.focus,
.nav-link:hover,
.nav-link:active,
.nav-link:visited,
.nav-link:focus {
    color: white !important;
    background-color: transparent !important;
    font-weight: bold !important;
}

.nav .nav-item .nav-link.active {
    color: white !important;
    background-color: transparent !important;
    font-weight: bold !important;
    border-bottom: solid rgb(29, 161, 242);
}

/* Search bar */
.wd-color-blue {
    color: rgb(29, 161, 242);
}

.wd-bg-color-blue {
    background-color: rgb(29, 161, 242);
}

.wd-font-10 {
    font-size: 10px;
}

.wd-font-13 {
    font-size: 13px;
}

.wd-font-15 {
    font-size: 15px;
}

.wd-font-18 {
    font-size: 18px;
}

.wd-image-13px {
    height: 20px;
    width: 20px;
}

.wd-image-36px {
    height: 42px;
    width: 42px;
}

.wd-image-100px {
    object-fit: cover;
    overflow: hidden;
    height: 72px;
    width: 72px;
}