/* Overriding CSS/third-party settings */
/* CSS */
body {
    background: black;
    margin-left: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

header h1 {
    color: white;
    margin: 0;
    font-family: "Segoe UI", serif;
    font-size: 20px;
    padding-top: 12px;
}

header p {
    font-size: 13px;
    margin-bottom: 16px;
}

header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(47, 51, 54);
}

font, .wd-bookmarked, p {
    color: rgb(110, 118, 125);
    font-family: "Segoe UI", serif;
    font-size: 15px;
}

p {
    margin: 0 0 6px;
}

/* Third-party */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*-----------------------*/

/* Feed */
.wd-feed {
    list-style-type: none;
    color: rgb(110, 118, 125);
}

.wd-content-stacked {
    display: flex;
    flex-direction: column;
    max-width: 504px;
}

.wd-content-nested {
    display: flex;
    flex-direction: row;
}

.wd-bookmarked {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(47, 51, 54);
    padding-bottom: 16px;
    padding-top: 16px;
}

.wd-author-icon {
    object-fit: cover;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    padding: 12px;
}

.wd-article-content {
    padding: 12px;
}

.wd-tuit-header {
    display: flex;
    justify-content: start;
    align-items: center;
}

.wd-tuit-image {
    object-fit: cover;
    max-width: 504px;
    aspect-ratio: 504 / 264;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.wd-tuit-author {
    padding-right: 6px;
    padding-top: 6px;
}

.wd-tuit-header {
    font-size: 13px;
    color: rgb(110, 118, 125);
    font-style: normal;
}

.wd-article-tuit, .wd-article-title, .wd-tuit-author {
    color: white;
    font-size: 15px;
}

.wd-full-border {
    padding: 10px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border: 1px solid rgb(47, 51, 54);
}

.wd-interactive {
    justify-content: space-between;
    align-items: center;
    margin: 12px;
}

.fa, .bi {
    padding-right: 12px;
}

.wd-likes > i, .wd-likes > p{
    color: red;
}

.fa:hover, .bi:hover {
    color: rgb(29,161,242);
}
