font {
    font-family: "Segoe UI", serif;
}

/*-----------------------*/
.wd-font-10 {
    font-size: 10px;
}

.wd-font-13 {
    font-size: 13px;
}

.wd-font-15 {
    font-size: 15px;
}

.wd-font-18 {
    font-size: 18px;
}

.wd-image-13px {
    height: 13px;
    width: 13px;
}

.wd-image-36px {
    height: 42px;
    width: 42px;
}

.wd-image-100px {
    object-fit: cover;
    height: 92px;
    width: 92px;
}